<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    
  <div class="container">
  <h2>GymShala - Client Management System</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="post">
      <label>Username:</label>
      <input type="text" name="username" required>

      <label>Password:</label>
      <input type="password" name="password" required>

      <button type="submit">Login</button>
    </form>
  </div>
  <div class="salutation">
  Designed and Developed by <a href="https://www.linkedin.com/in/vipin-nawal02/">VIPIN</a>
  </div>
  
</body>
</html>
